.div{
    color: #690500;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: smaller;
    margin: auto;
    gap: 10px;
    width: 90%;
}

.image{
    align-items: center;
    border-radius: 9px;
    border: solid #690500;
    float: left;
}

.back{
    color: #690500;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: solid 1px;
    border-color: #690500;
    border-radius: 5px;
    cursor: pointer;
}

.back:hover{
    color: #92977E;
    background-color: #690500;
    border-color: #293F14;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;

}